
$primary: #006d5b;
$secondary: #ffcc00;
body {
  background: #fff;
  font-family: var(--font-inter);
  .secttl {
    font-size: 25px;
    font-weight: 600;
    color: $primary;
  }
  #mainHeader {
    .logo {
      font-size: 25px;
      font-weight: 600;
      display: inline-block;
      color: $secondary;
      img {
        width: 60px;
      }
    }
    .navMenu {
      li {
        a {
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
  .btn {
    background: $primary;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    &:disabled{
      background: lighten($primary, 25%);
      color: lighten(#fff, 25%);
      cursor: not-allowed;
    }
    &:hover {
      background: darken($primary, 5%);
    }
  }
  #hero {
    background: #fcfcfc;
    h2 {
      line-height: 1.2;
      .shape-text {
        display: inline-block;
        position: relative;
        &:before {
          content: " ";
          position: absolute;
          width: 100%;
          height: 40%;
          // background: #34C759;
          bottom: 0;
          left: 0;
          z-index: 1;
        }
      }
    }
    p {
      font-size: 19px;
      color: #666;
    }
    .searchForm {
      input {
        outline: none;
        border: 2px solid $primary;
        padding: 8px 15px;
        border-radius: 50px;
        color: $primary;
        background: #fff;
        display: block;
      }
    }
    .heroMap {
      width: 100%;
      height: 450px;
    }
  }
  #appSection {
    h3 {
      font-size: 60px;
      font-weight: 800;
      color: $primary;
      line-height: 1.2;
    }
    p {
      font-size: 20px;
      color: #666;
      margin-top: 20px;
    }
  }
  #footer {
    .footerLogo {
      font-size: 25px;
      font-weight: 600;
      display: block;
      color: $secondary;
      img {
        width: 60px;
      }
    }

    a:not(.footerLogo) {
      &:hover {
        color: #f0f0f0;
      }
    }
  }
.formElement{
  // input , select{
  //   outline: none;
  //   border: 2px solid lighten($primary, 25%);
  //   padding: 8px 15px;
  //   border-radius: 10px;
  //   color: $primary;
  //   background: #fff;
  //   display: block;
  //   &:focus{
  //     border-color: $primary;
  //   }
  // }
}
  @media screen and (max-width: 991px) {
    #mainHeader {
      position: relative;
      .navtoggle {
        font-size: 30px;
      }
      .logo {
        font-size: 20px;
        img {
          width: 40px;
        }
      }
      .navs {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 999;
        padding: 20px;
        li {
          a {
            color: $primary;
          }
        }
      }
    }

    #hero {
      h2 {
        font-size: 30px;
      }
      .heroMap{
        height: 300px;
      }
    }
    #appSection {
      h3{
        font-size: 30px;
        text-align: center;
      }
    }
  }
}
